@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-VariableFont_wght.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-VariableFont_wght.ttf");
  font-weight: 400;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: auto;
  font-size: 3rem;
  background-color: #000;
  color: #fff;
}

.greeting {
  padding-left: 0.5em;
  animation-name: greeting-animation;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes greeting-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.home-content {
  display: flex;
  align-items: center;
  flex-direction: row;

  color: whitesmoke;
  text-align: left;
  width: 100vw;
  height: 80vh;
  margin: 1em;
  margin-top: 3.5em;
  margin-bottom: 0;
}

.header-text-container {
  width: 50%;
  height: 100%;
}

.header-text {
  font-family: "Montserrat";
  font-size: 1.1em;
  font-weight: 300;
}

.header-main {
  font-size: 1.1em;
  font-weight: 300;
}
.im {
  font-family: "Montserrat";
  font-size: 1em;
  font-weight: 200;
}
.main-name {
  font-family: "Montserrat";
  font-size: 1em;
  font-weight: 500;
  color: #b127e8;
}

.Typewriter__wrapper {
  font-size: 1em;
  color: #b127e8;
  font-weight: 400;
}
.Typewriter__cursor {
  font-size: 1em;
  color: #b127e8;
}
.type-writer {
  margin-top: 1em;
}

.hero-image-container {
  width: 40%;
  height: 100%;
  margin: auto;
  margin-left: 1em;

  padding-left: 1em;
}
.hero-image {
  width: 100%;
}

@media screen and (max-width: 960px) {
  .home {
    font-size: 1.6em;
    width: 100%;
  }
  .home-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .greeting {
    font-size: 1em;
  }
  .type-writer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    margin: auto;
  }
  .hero-image-container {
    margin: 1em;
    width: 50%;
  }
  .header-text-container {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    width: 100%;
  }
  .header-text {
    font-size: 1.5em;
    margin-top: 2em;
  }
  .name-container {
    font-size: 1.4em;
    padding-top: 1em;
  }
}
